@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
}

.orange-background {
  background-color: #FFA73B;
  width: 100%;
  height: 200px;
}

.mail-body {
  background-color: #FFFFFF;
  max-width: 600px;
  line-height: 20px;
  margin: -220px auto;
  margin-bottom: 50px;
}

.mail-body .welcome {
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 110px;
  padding-top: 50px;
  margin-bottom: 60px;
}

p,
.link {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0 30px;
  font-weight: 300;
}

.cta-button {
  background-color: #FFA73B;
  color: white;
  text-decoration: none;
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  padding: 15px;
  text-align: center;
  margin-bottom: 40px;
  
}

.link {
  display: block;
  color: #FFA73B;
  font-weight: 500;
}

.signature {
  margin-top: -40px;
  padding-bottom: 40px;
}

.help-box {
  margin-bottom: 50px;
  background-color: #FFECD1;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 0;
}

.help {
  margin-bottom: 10px;
}

.help-button {
  color: #FFA73B;
}
.bold {
  font-weight: 500;
  color: black;
}

.footer {
  font-size: 15px
}

.footer-link {
  display: block;
  max-width: 600px;
  margin: 40px auto;
}

